button  {
font-size: 24px;
padding: 12px;
background: #B2B2B2;
  }

button.consolepstvbutton {
  font-size: 24px;
  padding: 12px;
  background: #000010;

  
  }

button.consolpsvitabutton {
  font-size: 24px;
  padding: 12px;
  background: #000010;
 
  }

button.getstartedbutton{
  border: 2px solid #AD235E;
  border-radius: 100px;
  font-size: 24px;
  padding: 12px;
  background: #339933;
  width: 100%;
  
  }


button.firmwarebutton {
  font-size: 24px;
  padding: 12px;
  background: #0000FF;
  
  }

body {
  background: #76B8CF;
  color: white;
  }