button  {
font-size: 24px;
padding: 12px;
background: #B2B2B2;
  }

button.consolepstvbutton {
  font-size: 24px;
  padding: 12px;
  background: #65A8D4;
  width: 100%;
  
  }

button.consolepsvitabutton {
  font-size: 24px;
  padding: 12px;
  background: #65A8D4;
  width: 100%;
  
  }

button.getstartedbutton{
  border: 2px solid #55AA55;
  border-radius: 100px;
  font-size: 24px;
  padding: 12px;
  background: #339933;
  width: 100%;
  
  }


button.firmwarebutton {
  font-size: 24px;
  padding: 12px;
  background: #0000FF;
  width:24%;
  
  }

body {
  background: #76B8DA;
  color: white;
  }

summary{
    font-family: "serif" , "Times" , "Times New Roman";
    font-weight: bold;
    font-size: 250%;
}